<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
<div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>Add Customer</h1>
    <form th:action="@{/customer/addCustomer}"
          th:method="post"
          th:object="${addCustomerDTO}">

        <label th:for="name">Company name:</label>
        <input  th:errorclass="is-invalid"
                th:field="*{name}"
                type="text"
                required>
<!--        <p class="errors alert alert-danger">-->
<!--            Company name is required.-->
<!--        </p>-->

        <label th:for="vat">Company VAT number:</label>
        <input th:errorclass="is-invalid"
               th:field="*{vat}"
               type="text"
               required>
<!--        <p class="errors alert alert-danger">-->
<!--            Company VAT number is required.-->
<!--        </p>-->

        <label th:for="address">Company Address:</label>
        <input th:errorclass="is-invalid"
               th:field="*{address}"
               type="text"
               required>

        <label th:for="contactPerson">Contact person name:</label>
        <input th:errorclass="is-invalid"
               th:field="*{contactPerson}"
               type="text"
               required>
<!--        <p class="errors alert alert-danger">-->
<!--            Contact person is required.-->
<!--        </p>-->

        <label th:for="telNumber">Telephone number:</label>
        <input th:errorclass="is-invalid"
               th:field="*{telNumber}"
               type="text"
               required>
<!--        <p class="errors alert alert-danger">-->
<!--            Contact person phone number is required.-->
<!--        </p>-->

        <label th:for="email">Email:</label>
        <input th:errorclass="is-invalid"
               th:field="*{email}"
               type="text"
               required>

        <button type="submit">Add customer</button>
    </form>
    <p><a href="/">Back to Home</a></p>
</div>
</body>
</html>
