<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Elevator</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
<div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>Add Elevator</h1>
    <form th:action="@{/elevator/addElevator}"
          th:method="post"
          th:object="${addElevatorDTO}">

        <label th:for="type">Elevator Type:</label>
        <select th:errorclass="is-invalid"
                th:field="*{type}" required>
            <option value="ПЕАС">ПЕАС</option>
            <option value="ПХАС">ПХАС</option>
        </select><br><br>

        <select id="owner" name="owner">
            <option th:each="customer : ${allCustomers}"
                    th:value="${customer.id()}"
                    th:text="${customer.name()}"
                    required>owner</option>
        </select>

        <label th:for="manufacturer">Manufacturer:</label>
        <input type="text"
               th:errorclass="is-invalid"
               th:field="*{manufacturer}" required><br><br>

        <label th:for="manufacturerNumber">Manufacturer Number:</label>
        <input type="text"
               th:errorclass="is-invalid"
               th:field="*{manufacturerNumber}" required><br><br>

        <label th:for="yearOfManufacture">Year of Manufacture:</label>
        <input type="text"
               th:errorclass="is-invalid"
               th:field="*{yearOfManufacture}" required><br><br>

        <label th:for="speed">Speed (m/s):</label>
        <input type="number"
               th:errorclass="is-invalid"
               th:field="*{speed}" required><br><br>

        <label th:for="numberOfStops">Number of Stops:</label>
        <input type="number"
               th:errorclass="is-invalid"
               th:field="*{numberOfStops}" required><br><br>

        <label th:for="city">City:</label>
        <input type="text"
               th:errorclass="is-invalid"
               th:field="*{city}" required><br><br>

        <label th:for="address">Address:</label>
        <input type="text"
               th:errorclass="is-invalid"
               th:field="*{address}" required><br><br>

        <label th:for="registerDate">Registration date:</label>
        <input type="date"
               th:errorclass="is-invalid"
               th:field="*{registerDate}" required><br><br>


        <button type="submit">Add Elevator</button>
    </form>
</div>
</body>
</html>
