<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Elevator</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
<div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>Add Elevator</h1>
    <form th:action="@{/elevator/addElevator}"
          th:method="post"
          th:object="${addElevatorDTO}">

        <label th:for="type">Elevator Type:</label>
        <select th:errorclass="is-invalid"
                th:field="*{type}" required>
            <option value="ПЕАС">ПЕАС</option>
            <option value="ПХАС">ПХАС</option>
        </select><br><br>

        <select id="owner" name="owner">
            <option th:each="customer : ${allCustomers}"
                    th:value="${customer.id()}"
                    th:text="${customer.name()}"
                    required>owner</option>
        </select>

        <label th:for="manufacturer">Manufacturer:</label>
        <small class="text-danger" th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}">Manufacturer Error</small>
        <input type="text"
               th:errorclass="is-invalid"
               th:field="*{manufacturer}" minlength="2" maxlength="50" required><br><br>

        <label th:for="manufacturerNumber">Manufacturer Number:</label>
        <small class="text-danger" th:if="${#fields.hasErrors('manufacturerNumber')}" th:errors="*{manufacturerNumber}">Manufacturer number Error</small>
        <input type="text"
               th:errorclass="is-invalid"
               th:field="*{manufacturerNumber}" minlength="1" maxlength="10" required><br><br>

        <label th:for="yearOfManufacture">Year of Manufacture:</label>
        <small class="text-danger" th:if="${#fields.hasErrors('yearOfManufacture')}" th:errors="*{yearOfManufacture}">Year of manufacture Error</small>
        <input type="text"
               th:errorclass="is-invalid"
               th:field="*{yearOfManufacture}" minlength="1" maxlength="8" required><br><br>

        <label th:for="speed">Speed (m/s):</label>
        <small class="text-danger" th:if="${#fields.hasErrors('speed')}" th:errors="*{speed}">Speed Error</small>
        <input type="number"
               th:errorclass="is-invalid"
               th:field="*{speed}" minlength="1" maxlength="3" required><br><br>

        <label th:for="numberOfStops">Number of Stops:</label>
        <small class="text-danger" th:if="${#fields.hasErrors('numberOfStops')}" th:errors="*{numberOfStops}">Number of stops Error</small>
        <input type="number"
               th:errorclass="is-invalid"
               th:field="*{numberOfStops}" minlength="1" maxlength="3" required><br><br>

        <label th:for="city">City:</label>
        <small class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</small>
        <input type="text"
               th:errorclass="is-invalid"
               th:field="*{city}"><br><br>

        <label th:for="address">Address:</label>
        <small class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</small>
        <input type="text"
               th:errorclass="is-invalid"
               th:field="*{address}" minlength="5" maxlength="100" required><br><br>

        <label th:for="registerDate">Registration date:</label>
        <small class="text-danger" th:if="${#fields.hasErrors('registerDate')}" th:errors="*{registerDate}">Register date Error</small>
        <input type="date"
               th:errorclass="is-invalid"
               th:field="*{registerDate}" required><br><br>


        <button type="submit">Add Elevator</button>
    </form>
</div>
</body>
</html>
