<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All inspections</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
<div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>Inspections</h1>

    <form th:method="get" th:action="@{/inspection/add-single-inspection}">
        <button type="submit">Add new gas installation</button>
    </form><br>


        <table>
            <thead>
            <tr>
                <th th:text="#{inspection_id}">Id</th>
                <th th:text="#{inspection_user}">User</th>
                <th th:text="#{inspection_customer_name}">Customer name</th>
<!--                <th th:text="#{inspection_elevator}">Elevator id</th>-->
                <th th:text="#{inspection_address}">Address</th>
                <th th:text="#{inspection_price}">Price</th>
                <th th:text="#{inspection_status}">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inspection : ${allInspections}"
                th:object="${inspection}" class="container">
                <td><span th:text="*{id()}">Id</span></td>
                <td><span th:text="*{user().username}">User</span></td>
                <td><span th:text="*{customer().name}">Customer name</span></td>
<!--                <td><span th:text="*{elevatorId()}">Elevator id</span></td>-->
                <td><span th:text="*{address()}">Address</span></td>
                <td><span th:text="*{price()}">Price</span></td>
                <td><span th:text="*{status()}">Status</span></td>
                <td>
                    <form sec:authorize="hasRole('ADMIN')"
                            th:method="delete"
                          th:action="@{/inspection/{id}(id=${inspection.id()})}" >
                        <input type="hidden" name="id" th:value="delete">
                        <button type="submit">Delete</button>
                    </form>

                    <form th:method="get"
                          th:action="@{/inspection/editInspection/{id}(id=*{id})}">
                        <button onclick="editInspection(1)" th:method="get" th:href="@{/inspection/editInspection/{id}(id=*{id})}">Edit</button>
                    </form>

                    <form th:method="post"
                          th:action="@{/inspection/markAsDone/{id}(id=${inspection.id()})}" >
                        <input type="hidden" name="id" th:value="post">
                        <button class="done" type="submit">Done</button>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
</div>

</body>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspections</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
</html>
