<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Inspection</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById("inspectionDate").value = today;
        });
    </script>
</head>
<body>
<div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>

<div class="container">
    <h1>Edit Inspection</h1>
    <form th:object="${inspectionDetails}" th:action="@{/inspection/editInspection/{id}(id=*{id})}" th:method="PUT">

        <input type="hidden" name="id" id="id" th:value="*{id}">

        <div>
        <label for="user">User: </label> <span class="inspection-text" name="user" th:text="*{user.username}" th:value="*{user.id}">User</span>
            <input type="hidden" name="user" id="user" th:value="*{user.id}">
        </div>

        <div>
        <label for="customer">Customer: </label> <span class="inspection-text" name="customer" th:text="*{customer.name}" th:value="*{customer.id}">customer</span>
            <input type="hidden" name="customer" id="customer" th:value="*{customer.id}">
        </div>

        <table>
            <thead>
            <tr>
                <th>Id:</th>
                <th>Elevators address:</th>
                <th>Elevators stops:</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="elevator, iterStat : *{elevators}" class="container">
                <input type="hidden" th:field="*{elevators[__${iterStat.index}__].id}" th:value="${elevator.id}">
                <input type="hidden" th:field="*{elevators[__${iterStat.index}__].address}" th:value="${elevator.address}">
                <input type="hidden" th:field="*{elevators[__${iterStat.index}__].numberOfStops}" th:value="${elevator.numberOfStops}">
                <td><span th:text="${elevator.id}">Id</span></td>
                <td><span th:text="${elevator.address}">Address</span></td>
                <td><span th:text="${elevator.numberOfStops}">Number of Stops</span></td>
            </tr>
            </tbody>
        </table><br>

        <label for="status">Status:</label>
        <select id="status" name="status" th:value="*{status}" th:field="*{status}">
            <option value="ЧАКА">ЧАКА</option>
            <option value="ПРОЦЕС">ПРОЦЕС</option>
            <option value="ФИНАЛИЗИРАНА">ФИНАЛИЗИРАНА</option>
        </select>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" th:value="*{address}" minlength="5" maxlength="20" required><br><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" th:value="*{price}" required><br><br>

        <label for="inspectionDate">Inspection date:</label>
        <input type="date" id="inspectionDate" name="inspectionDate" required><br><br>

        <button type="submit">Edit inspection</button>
    </form>
</div>
</body>
</html>
