<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Elevator</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
<div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>Edit Elevator</h1>

    <form th:object="${elevatorDetails}" th:action="@{/elevator/editElevator/{id}(id=*{id})}" th:method="PUT">

        <input type="hidden" name="id" id="userId" th:value="*{id}">
        <input type="hidden" name="nextInspection" id="nextInspection" th:value="*{nextInspection}">
        <input type="hidden" name="lastInspection" id="lastInspection" th:value="*{lastInspection}">

        <label for="owner">Customer:</label>
        <select id="owner" name="owner">
            <option th:each="customer : ${allCustomers}"
                    th:value="${customer.id()}"
                    th:text="${customer.name()}"
                    th:field="${elevatorDetails.owner}"
                    required>customer</option>
        </select><br>

        <label for="type">Elevator type:</label>
        <select id="type" name="type" th:value="*{type}" th:field="*{type}" required>
            <option value="ПЕАС">ПЕАС</option>
            <option value="ПХАС">ПХАС</option>
        </select><br><br>

        <label for="manufacturer">Manufacturer:</label>
        <input type="text" id="manufacturer" name="manufacturer"
               th:value="*{manufacturer}" required><br><br>

        <label for="manufacturerNumber">Manufacturer Number:</label>
        <input type="text" id="manufacturerNumber" name="manufacturerNumber"
               th:value="*{manufacturerNumber}" required><br><br>

        <label for="yearOfManufacture">Year Of Manufacture:</label>
        <input type="text" id="yearOfManufacture" name="yearOfManufacture"
               th:value="*{yearOfManufacture}" required><br><br>

        <label for="speed">Speed:</label>
        <input type="number" id="speed" name="speed"
               th:value="*{speed}" required><br><br>

        <label for="numberOfStops">Number Of Stops:</label>
        <input type="number" id="numberOfStops" name="numberOfStops"
               th:value="*{numberOfStops}" required><br><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city"
               th:value="*{city}" required><br><br>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address"
               th:value="*{address}" required><br><br>

        <label for="registerDate">Registration date:</label>
        <input type="date" id="registerDate" name="registerDate"
               th:value="*{registerDate}" required><br><br>

        <label for="author">Added by:</label>
<!--        TODO: show two time author-->
        <select id="author" name="author" th:field="*{author}">
            <option th:value="${addedBy}"
                    th:text="${addedBy}">- Select user -</option>
            <option th:each="user : ${allUser}"
                    th:value="${user.username}"
                    th:text="${user.username}"
                    required>user</option>
        </select>

        <div>
        <button type="submit">Save</button>
        <button onclick="location.href='/elevator/allElevators'">Back</button>
        </div>
    </form>
</div>
</body>
</html>
