<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Elevator</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>Edit Elevator</h1>
    <form th:object="${elevatorDetails}" th:action="@{/elevator/editElevator/{id}(id=*{id})}" th:method="PUT">

        <input type="hidden" name="id" id="userId" th:value="*{id}">

        <label for="type">Elevator type:</label>
        <select id="type" name="type" th:value="*{type}" required>
            <option value="ПЕАС">ПЕАС</option>
            <option value="ПХАС">ПХАС</option>
        </select><br><br>

        <label for="manufacturer">Manufacturer:</label>
        <input type="text" id="manufacturer" name="manufacturer"
               th:value="*{manufacturer}" required><br><br>

        <label for="manufacturerNumber">Manufacturer Number:</label>
        <input type="text" id="manufacturerNumber" name="manufacturerNumber"
               th:value="*{manufacturerNumber}" required><br><br>

        <label for="yearOfManufacture">Year Of Manufacture:</label>
        <input type="text" id="yearOfManufacture" name="yearOfManufacture"
               th:value="*{yearOfManufacture}" required><br><br>

        <label for="speed">Speed:</label>
        <input type="number" id="speed" name="speed"
               th:value="*{speed}" required><br><br>

        <label for="numberOfStops">Number Of Stops:</label>
        <input type="number" id="numberOfStops" name="numberOfStops"
               th:value="*{numberOfStops}" required><br><br>

        <label for="damtnDate">DAMTN date:</label>
        <input type="date" id="damtnDate" name="damtnDate"
               th:value="*{damtnDate}" required><br><br>

        <label for="damtnNumber">DAMTN Number:</label>
        <input type="text" id="damtnNumber" name="damtnNumber"
               th:value="*{damtnNumber}" required><br><br>

        <label for="firstCheck">First check:</label>
        <input type="date" id="firstCheck" name="firstCheck"
               th:value="*{firstCheck}" required><br><br>

<!--        <label for="author">Added by:</label>-->
<!--        <input type="text" id="author" name="author"-->
<!--               th:value="*{author.username}" required><br><br>-->


        <button type="submit">Save</button>
        <button onclick="location.href='/elevator/allElevators'">Back</button>
    </form>
</div>
</body>
</html>
