<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav>
    <div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
</nav>


<div class="container">
    <h1 th:text="#{index_welcome}">Welcome to Elevator Registry!</h1>
    <div sec:authorize="isAuthenticated()">Welcome : <span th:text="${userData}"></span></div>

    <p sec:authorize="!isAuthenticated()"><a href="/users/register" th:text="#{index_registry}">Register</a></p>
    <p sec:authorize="!isAuthenticated()"><a href="/users/login" th:text="#{index_login}">Login</a></p>
    <p sec:authorize="isAuthenticated()"><a href="/users/all">Users management</a></p><br><br><br>

    <p sec:authorize="isAuthenticated()"><a href="/customer/addCustomer">Add new customer</a></p>
    <p sec:authorize="isAuthenticated()"><a href="/customer/allCustomers">All customers</a></p>

    <p sec:authorize="isAuthenticated()"><a href="/elevator/addElevator">Add new elevator</a></p>
    <p sec:authorize="isAuthenticated()"><a href="/elevator/allElevators">Elevator registry</a></p>

    <div class="btn" sec:authorize="isAuthenticated()">
            <form th:method="post"
                  th:action="@{/users/logout}">
                <input type="submit" value="Logout"/>
            </form>
    </div>
</div>
</body>
</html>
