<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--    <script>-->
<!--        function openCustomerPopup() {-->
<!--            var popup = window.open("/inspection/selectCustomer", "Customer Popup", "width=600,height=400");-->
<!--            popup.onbeforeunload = function() {-->
<!--                var customerId = popup.document.getElementById("selectedCustomerId").value;-->
<!--                if (customerId) {-->
<!--                    document.getElementById("customerIdInput").value = customerId;-->
<!--                }-->
<!--            };-->
<!--        }-->
<!--    </script>-->
</head>
<body>
<div>
    <div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"/>
</div>


<div class="home-container">
    <h1 th:text="#{index_welcome}">Welcome to Elevator Registry!</h1>
    <!--    <div sec:authorize="isAuthenticated()">Welcome : <span th:text="${userData}"></span></div>-->
    <div>Welcome : <span th:text="${userData}"></span></div>

    <div class="section-container">
        <div class="max-width-container">

            <div class="home-container08">
                <!--                <div class="blog-post-card-blog-post-card blog-post-card-root-class-name">-->
                <!--Users:-->
                <div sec:authorize="!isAuthenticated()" class="blog-post-card-blog-post-card">
                    <div class="blog-post-header">
                            <span class="blog-post-card-text">
                            <span><h3>User:</h3></span>
                            </span>
                    </div>
                    <div class="blog-post-card-container">
                        <a href="/users/register" th:text="#{index_registry}">Register</a>
                        <a href="/users/login" th:text="#{index_login}">Login</a>
                    </div>
                </div>

                <div sec:authorize="hasRole('ADMIN')" class="blog-post-card-blog-post-card">
                    <div class="blog-post-header">
                        <span class="blog-post-card-text">
                            <h3>Users control:</h3>
                        </span>
                    </div>
                    <div class="blog-post-card-container">
                        <a href="/users/all">Users management</a>

                    </div>
                </div>
                <!--Customers-->
                <div sec:authorize="isAuthenticated()" class="blog-post-card-blog-post-card">
                    <div class="blog-post-header">
                        <span class="blog-post-card-text">
                            <span><h3>Customers:</h3></span>
                        </span>
                    </div>
                    <div class="blog-post-card-container">
                        <a href="/customer/addCustomer">Add new customer</a>
                        <a href="/customer/allCustomers">All customers</a>
                    </div>
                </div>
                <!--Inspections-->
                <div sec:authorize="isAuthenticated()" class="blog-post-card-blog-post-card">
                    <div class="blog-post-header">
                        <span class="blog-post-card-text">
                            <span><h3>Inspections:</h3></span>
                        </span>
                    </div>
                    <div class="blog-post-card-container">
                        <a href="/inspection/add-single-inspection">Add new inspection</a>
                        <a href="/inspection/allInspections">All inspection</a>
                    </div>
                </div>
                <!--GAS-->
                <div sec:authorize="isAuthenticated()" class="blog-post-card-blog-post-card">
                    <div class="blog-post-header">
                        <span class="blog-post-card-text">
                            <span><h3>Gas installation:</h3></span>
                        </span>
                    </div>
                    <div class="blog-post-card-container">
                        <a href="/gas/addGasInstallation">Add new gas installation</a>
                        <a href="/gas/allGasInstallations">All gas installation</a>
                        <br>
                    </div>
                </div>
                <!--Elevators-->
                <div sec:authorize="isAuthenticated()" class="blog-post-card-blog-post-card">
                    <div class="blog-post-header">
                        <span class="blog-post-card-text">
                            <span><h3>Elevators:</h3></span>
                        </span>
                    </div>
                    <div class="blog-post-card-container">
                        <a href="/elevator/addElevator">Add new elevator</a>
                        <a href="/elevator/allElevators">Elevator registry</a>
                        <br>
                        <a href="/inspection/selectCustomer">Add inspection by customer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
