<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
    <div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>Login</h1>
    <form th:action="@{/users/login}" th:method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
<!--        <div th:text="${loginData.}">-->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <p><a href="/">Back to Home</a></p>
</div>
</body>
</html>
