<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
    <div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>Register</h1>
    <form th:object="${registerData}"
          th:action="@{/users/register}"
          th:method="POST">

        <label for="username">Username:</label>
        <input th:field="*{username}"
               th:errorclass="is-invalid"
               aria-describedby="usernameUniqueError"
               required minlength="4" maxlength="20"
               type="text" id="username" name="username">
                <small th:errors="*{username}" id="usernameUniqueError"
                       class="bg-danger text-white rounded">Username is already occupied</small>

        <label for="email">Email:</label>
        <input
                th:field="*{email}"
                th:errorclass="is-invalid"
                aria-describedby="emailError"
                type="email" id="email" name="email" required>
        <small th:errors="*{email}" id="emailError" class="invalid-feedback form-text bg-danger text-white rounded">
            Must be valid email</small>

        <label for="username">First name:</label>
        <input aria-describedby="firstNameError" th:field="*{firstName}"
               type="text" id="firstName" name="firstName" minlength="3" maxlength="20" required>
        <small th:errors="*{firstName}" id="firstNameError" class="invalid-feedback form-text bg-danger text-white rounded">
            First name must be more than 3 and less than 20 characters</small>

        <label for="lastName">Last name:</label>
        <input th:field="*{lastName}" type="text" id="lastName" name="lastName" minlength="3" maxlength="20" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" minlength="5" maxlength="50" required>

        <label for="password">Confirm password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" minlength="5" maxlength="50" required>

        <button type="submit">Register</button>
    </form>
    <p><a href="/">Back to Home</a></p>
</div>
</body>
</html>
