<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>
<div class="container">
    <h1>User Management</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name </th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${allUser}"
            th:object="${user}" class="container">
            <td><span th:text="*{id()}">Id</span></td>
            <td><span th:text="*{username()}">Username</span></td>
            <td><span th:text="*{firstName()}">First name</span></td>
            <td><span th:text="*{lastName()}">Last name</span></td>
            <td><span th:text="*{email()}">Email</span></td>
            <td>
                <form th:method="delete"
                      th:action="@{/users/{id}(id=${user.id()})}" >
                    <input type="hidden" name="id" th:value="delete">
                    <button type="submit">Delete</button>
                </form>

                <form th:method="get"
                      th:action="@{/users/editUser/{id}(id=*{id})}">
                    <button onclick="editUser(1)" th:method="get" th:href="@{/users/editUser/{id}(id=*{id})}">Edit</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
